@import "utils";
@import "fonts";
@import "typography";
@import "icons";

body {
  background: $c-gray;
}

@import "header";
@import "slider";

.hire-us {
  position: relative;
  color: $c-white;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -8px;
    content: "";

    border-radius: 4px;
    background-color: $c-blue-btn;
    opacity: 0;

    transition: opacity 0.3s linear;
  }

  &:hover::after {
    opacity: 1;
  }
}
